{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<ul>
    {% for animal in animals %}
    {# <li>{{animal.nom}} est un  {{animal.espace}}, de sexe {{animal.sexe}} est mange {{animal.regimeAlim}}</li> #}
    <li>{{animal}}</li>
    {% endfor %}
</ul>
{% endblock %}
